<div>
<form class="center">
    
    <div  class="mb-3" class="form-group">
      <label for="emaild" class="form-label">Email address</label>
      <input type="emaild" class="form-control" id="emaild" aria-describedby="emaild" 
      [(ngModel)]="loginForm.emaild" id="emaild" name="emaild">
      <div [ngStyle]="{'color':'red'}" id="emaild" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3" class="form-group"> 
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password"
      
      id="password" [(ngModel)]="loginForm.password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="ngOnInit()">Submit</button>

  </form>
</div>


     
    
